<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    
      <ul align="left" class="nav nav-pills">
          <li class="nav-item"><NavLink href="/" Match="NavLinkMatch.All" class="nav-link" aria-current="page">Home</NavLink></li>
          <li class="nav-item"><NavLink href="/workspace" class="nav-link">Workspace</NavLink></li> 
          <li class="nav-item"><NavLink href="/counter" class="nav-link">Counter</NavLink></li>
      </ul>
    </header>